.rooms-header {
  height: 7%;
}

.rooms-title {
  font-size: 1.5em;
}

.add-room-button {
  width: 75%;
  height: 90%;
}

.rooms-list {
  height: 85vh;
}

.list-room {
  height: 12vh;
}

.list-room-options {
  color: gray;
  margin-left: 67%;
}