.home-container {
  background-color: #141414;
  color: white;

  min-height: 92%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 92vh; /* Header component has height of 8vh */
  display: flex;
  align-items: center;
  padding-bottom: 5%;
  justify-content: center;
}

.text-box {
  background-color: #f3f3f3;
  border-radius: 1em;
  padding-left: 0.3em;
  padding-right: 0.3em;

  font-size: 5em;
  color: black;
  word-wrap: break-word;
}