.signin-container {
  background-color: #141414;
  color: white;
  
  min-height: 92%;
  min-height: 92vh;
  display: grid;
  align-items: center;
  padding-bottom: 7%;
}

.sign-in-form {
  margin-right: 5%;
}

.sign-up-form {
  margin-left: 5%;
}

.header {
  font-size: 0.9em;
  padding-bottom: 0.5em;
}

.form-element {
  margin-bottom: 3%;
}

.font-small {
  font-size: 0.8em;
}