.rooms-header {
  height: 7%;
}

.rooms-title {
  font-size: 1.5em;
}

.close-button {
  margin-top: 25%;
}

.rooms-list-row {
  height: 85vh;
}

.rooms-list-col {
  width: 96%;
}

.list-room {
  height: 12vh;
}

.list-room-name {
  margin-left: 3%;
}

.accept-invite-button {
  margin-right: 5%;
}